body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  overflow: scroll;
  font-family: Manrope;
  line-height: 32px;
  color: var(--text-color);
}

:root {
  --green-highlight: hsl(150, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --header-background: hsl(273,85%,13%);
  --text-color: hsl(271, 12%, 34%);
  --main-section-background: hsl(276, 100%,99%);
}

/*Typography*/

h1,h2,h3 {
  font-family: Fraunces;
  font-weight: 600;
}

h1 {
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  font-size: 80px;
  width: 40%;
  line-height: 80px;
}

h2 {
  font-size: 56px;
  line-height: 64px;
}


h3 {
  font-size: 32px;
  line-height: 40px;
}

/*Elements*/

header {
  background-color: var(--header-background);
  width: 110%;
  position: relative;
  left: -5%;
  height: 45rem;
  border-bottom-left-radius: 70% 20%;
  border-bottom-right-radius: 70% 20%;
  z-index: 1;
}

.underline{
  border-bottom: 2px solid var(--green-highlight);
}

.top{
  width: 70%;
  margin: 0px auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.top p {
  cursor: pointer;
}

.top p:hover {
  color: var(--green-highlight);
}

.hero {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.hero button{
  margin: 40px auto;
  width: 14%;
  background-color: var(--green-highlight);
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.hero button:hover{
  background-color: var(--header-background);
  color: var(--green-highlight);
  padding-top: 19px;
  padding-bottom: 19px;
  border: 1px solid var(--green-highlight);
}

#pattern-1 {
  position: relative;
  bottom: 20rem;
  right: 5rem;
}

#pattern-2 {
  position: relative;
  bottom: 20rem;
  left: 66rem;
}

#hero-image {
  height: 55%;
  width: 50%;
  position: relative;
  top: 4rem;
  right: 6rem;
}

main {
  position: relative;
  bottom: 10rem;
  z-index: 0;
}

.article-section {
  background-color: var(--main-section-background);
  margin: 0 auto;
  padding-top: 28rem;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 110%;
  position: relative;
  left: -5%;
  height: 45rem;
  border-bottom-left-radius: 70% 20%;
  border-bottom-right-radius: 70% 20%;
  height: 35rem;
}

.article-section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.number {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  text-align: center;
}

.louis {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.avatar {
  height: 25rem;
  width: 25rem;
  z-index: 0;
  position: relative;
  top: 10rem;
  left: 5rem;
}

.louis div {
  background-color: var(--header-background);
  color: white;
  z-index: 1;
  width: 40rem;
  position: relative;
  top: 20rem;
  padding: 3rem;
}

.louis div button {
  background-color: var(--green-highlight);
  border: none;
  font-weight: 600;
  width: 15rem;
  height: 4rem;
  border-radius: 1px;
  margin-top: 2rem;
}

.louis div button:hover {
  background-color: var(--header-background);
  color: var(--green-highlight);
  padding-top: 19px;
  padding-bottom: 19px;
  border: 1px solid var(--green-highlight);
}

.louis h2, p, button {
  position: relative;
  bottom: 2rem;
}

#pattern-3 {
  position: absolute;
  height: 15rem;
  width: 15rem;
  right: 13rem;
  top: 101rem;
  z-index: 2;
}

footer {
  margin: 0 auto;
  position: relative;
  align-items: center;
  top: 15rem;
  display: flex;
  flex-direction: column;
}

footer img {
  width: 7rem;
  height: 8rem;
}

.apply {
  display: flex;
  width: 9%;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.apply img {
  display: inline;
  width: 1rem;
  height: 1rem;
}


@media only screen and (max-width:481px) {

}

@media only screen and (max-width:961px) {

  #pattern-1 {
    bottom: 20rem;
    right: 12rem;
  }

  #pattern-2 {
    bottom: 15rem;
    left: 21rem;
  }

  .top {
    align-items: center;
    width: 80%;
  }

  .top p {
    position: relative;
    bottom: 0rem;
  }

  h1 {
    width: 68%;
    font-size: 60px;
  }

  body {
    font-size: 12px;
  }

  header {
    left: -6%;
    height: 38rem;
  }

  #hero-image {
    top: -16rem;
    left: 14rem;
    height: 38%;
  }

  .hero button {
    width: 22%;
  }

  .article-section{
    flex-direction: column;
    align-items: center;
    height: 50rem;
    margin-top: -8rem;
  }

  .article-section article{
    width: 60%;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 4fr;
  }

  .number {
    grid-area: 1/1/ span 2/ span 1;
  }

  .article-heading {
    grid-area: 1/2/ span 1/ span 1;
    text-align: left;
  }

  .article-section p {
    grid-area: 2/2/ span 1/ span 1;
    text-align: left;
  }


  .louis {
    justify-content: center;
    width: 100%;
  }

  .louis img {
    height: 20rem;
    width: 20rem;
  }

  .louis div {
    right: 2rem;
  }

  #pattern-3 {
    position: absolute;
    bottom: 15rem;
    left: 35rem;
  }
}
